@model Status.Domain.ViewModels.SignInVM
@{
    ViewData["Title"] = "SignIn";
}

<h1>SignIn</h1>

<form method="post">

    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, null, new { @class = "form-control", autofocus = "" })
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div class="form-group">
        <label asp-for="Senha"></label>
        <input class="form-control" asp-for="Senha">
        <span class="text-danger" asp-validation-for="Senha"></span>
    </div>

    @*<div class="form-group form-check">
            <input type="checkbox" class="form-check-input" asp-for="Lembrar" checked>
            <label class="form-check-label" for="exampleCheck1" asp-for="Lembrar"></label>
        </div>*@

    <div>
        <button class="btn btn-outline-info" type="submit">Entrar</button>
        <a class="btn btn-outline-info" href="@Url.Action("New","User")">Quero me cadastrar</a>
    </div>
</form>

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
